@model  PanelViewModels.EditPrefix<PanelViewModels.TrainingManagementViewModels.HomeworksViewModel>

    <div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <form id="EditForm" role="form">
                     <div class="modal-header edit-modal">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                     </div>
                     <div class="modal-body">
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label asp-for="Edit.CourseMeetingName"></label>
                                     <input class="form-control" readonly="readonly" value="@ViewBag.CourseMeetingName">

                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label asp-for="Edit.Title"></label>
                                     <input asp-for="Edit.Title" class="form-control" data-bind="value: e().Title">
                                     <span asp-validation-for="Edit.Title" class="danger"></span>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label asp-for="Edit.ExpiredDate"></label>
                                     <input data-mask="9999/99/99" asp-for="Edit.ExpiredDate" class="form-control" data-bind="value: e().ExpiredDate">
                                     <span asp-validation-for="Edit.ExpiredDate" class="danger"></span>
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label asp-for="Edit.IsActive"></label>
                                     <select asp-for="Edit.IsActive" class="form-control" data-bind="value: e().IsActive">

                                         <option value="1">فعال</option>
                                         <option value="0">غیر فعال</option>
                                     </select>
                                     <span asp-validation-for="Edit.IsActive" class="danger"></span>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-12 col-xs-12">
                                 <hr />
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-12">
                                 <label style="margin-top:15px;margin-bottom:20px;text-align:center;display:block" asp-for="Edit.FilePath"></label>
                                 <div class="form-group">
                                     @await Html.PartialAsync("~/Views/Component/FileUploader.cshtml",
                                     new PanelPresentationLayer.ComponentModel.FileUploader()
                                     {
                                         ButtonFarsiName = "آپلود فایل",
                                         DefualtNullFileImagePath = "/assets/img/DefaultUploadFile.png",
                                         DefualtSelectedFileImagePath = "/assets/img/Ok.png",
                                         Name = "EditHomeworkFilePath",
                                         KnockoutExpressionString = "MainViewModel.e().FilePath", 
                                         HasDeleteBtn = false,
                                         MaxFileSize = 20480,
                                         Description = "حداکثر حجم مجاز فایل : 20 مگابایت"
                                     })
                                 </div>
                                 <span asp-validation-for="Edit.FilePath" class="danger"></span>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">
                                     <label asp-for="Edit.Description"></label>
                                     <textarea rows="3" asp-for="Edit.Description" class="form-control" data-bind="value: e().Description"></textarea>
                                     <span asp-validation-for="Edit.Description" class="danger"></span>
                                 </div>
                             </div>
                         </div>

                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                         <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                     </div>
                 </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
