
.logo1 {
	height: 115px;
    width: 263px;
    margin: 20px auto 0px auto;
    background: url(logo.png);
}

nav {
	margin: 10px auto;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	/*background: #f1f4f7;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	font-size:13px;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover {
	
	border-radius:3px;
}

nav ul li:hover a {
	color:#21307d;
}

nav ul li a {
	display: block;
	padding: 10px 15px;
	color: #888;
	text-decoration: none;
}

nav ul ul {
	
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 330px;
	text-align:right;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	position: relative;
}
nav ul ul li a {
	padding: 5px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	color:#21307d;
}
		
nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}
		



.active1 {
	
	border-radius:3px;
	color:#888;
	margin-left:3px;
}


.active1 a {
	color:#21307d;
	border-bottom : 2px solid #21307d;
}


