@model PanelViewModels.Prefix.StudentPaymentLinkPrefix<PanelViewModels.FinancialsViewModels.StudentPaymentLinksViewModel> 

    <div id="studentPaymentLinkModal" class="modal fade " tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">لینک پرداخت</h4>
                </div>
                <form id="studentPaymentLinkForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="StudentPaymentLink.AmountPayable"> </label>
                            <input asp-for="StudentPaymentLink.AmountPayable" type="text" data-bind="value: studentPaymentLink().AmountPayable" class="form-control currency">
                            <span asp-validation-for="StudentPaymentLink.AmountPayable" class="danger"></span>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-success btn-sm">ثبت</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
