@model PanelViewModels.TrainingManagementViewModels.CourseMeetingBookletsViewModel

<div id="AddBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <form id="AddForm" role="form">
                <div class="modal-header create-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  <strong>افزودن</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseMeetingName"></label>
                                <input class="form-control" readonly="readonly" value="@ViewBag.CourseMeetingName">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" data-bind="value: c().Title">
                                <span asp-validation-for="Title" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsActive"></label>
                                <select disabled="disabled" asp-for="IsActive" class="form-control" data-bind="value: c().IsActive">
                                    <option selected="selected" value="1">فعال</option>
                                    <option value="0">غير فعال</option>
                                </select>
                                <span asp-validation-for="IsActive" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea rows="3" asp-for="Description" class="form-control" data-bind="value: c().Description"></textarea>
                                <span asp-validation-for="Description" class="danger"></span>
                            </div>
                        </div>
                    </div>
                   
                  
                   
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <label style="margin-top:15px;margin-bottom:20px;text-align:center;display:block" asp-for="FilePath"></label>
                            <div class="form-group">
                                @await Html.PartialAsync("~/Views/Component/FileUploader.cshtml",
                               new PanelPresentationLayer.ComponentModel.FileUploader()
                               {
                                   ButtonFarsiName = "آپلود فایل",
                                   DefualtNullFileImagePath = "/assets/img/DefaultUploadFile.png",
                                   DefualtSelectedFileImagePath = "/assets/img/Ok.png",
                                   Name = "CourseMeetingBookletsFilePath",
                                   KnockoutExpressionString = "MainViewModel.c().FilePath", 
                                   HasDeleteBtn = false,
                                   MaxFileSize = 20480,
                                   Description = "حداکثر حجم مجاز فایل : 20 مگابایت"
                               })
                            </div>
                            <span asp-validation-for="FilePath" class="danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-success btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
