@{
    var CourseMeetingStudents = (List<ComboBoxItems>)ViewBag.CourseMeetingStudents;
}
@model PanelViewModels.Prefix.StudentBankTransferPrefix<PanelViewModels.FinancialsViewModels.AddStudentFinancialPaymentsViewModel>

<div id="bankTransferModal" class="modal fade " tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">افزودن حواله بانکی</h4>
            </div>
            <form id="bankTransferForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="StudentBankTransfer.AmountPaid"> </label>
                        <input asp-for="StudentBankTransfer.AmountPaid" type="text" data-bind="value: bankTransfer().AmountPaid" class="form-control currency">
                        <span asp-validation-for="StudentBankTransfer.AmountPaid" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentBankTransfer.RegDateTime"> </label>
                        <input data-mask="9999/99/99" asp-for="StudentBankTransfer.RegDateTime" type="text" data-bind="value: bankTransfer().RegDateTime" class="form-control">
                        <span asp-validation-for="StudentBankTransfer.RegDateTime" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentBankTransfer.CourseMeetingStudentId"> </label>
                        <select asp-for="StudentBankTransfer.CourseMeetingStudentId" class="form-control" data-bind="value: bankTransfer().CourseMeetingStudentId">
                            <option value="">لطفا انتخاب کنید ...</option>
                            @foreach (var item in CourseMeetingStudents.Where(c => c.IsActive))
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <span asp-validation-for="StudentBankTransfer.CourseMeetingStudentId" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentBankTransfer.RequestReferenceNumber"> </label>
                        <input asp-for="StudentBankTransfer.RequestReferenceNumber" type="text" data-bind="value: bankTransfer().RequestReferenceNumber" class="form-control">
                        <span asp-validation-for="StudentBankTransfer.RequestReferenceNumber" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentBankTransfer.Description"> </label>
                        <textarea asp-for="StudentBankTransfer.Description" type="text" data-bind="value: bankTransfer().Description" class="form-control"></textarea>
                        <span asp-validation-for="StudentBankTransfer.Description" class="danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-success btn-sm">ثبت</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
