<div id="CashAndBankTransferModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">مشاهده پرداخت نقدی </h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>مبلغ پرداختی(تومان)</label>
                                <input id="amountPaid" readonly="readonly" type="text" placeholder="مبلغ پرداختی(تومان)" class="form-control">
                            </div>
                        </div>


                        <div class="col-md-6 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>دانش آموز</label>
                                <input id="studentUserFullName" readonly="readonly" type="text" placeholder="دانش آموز" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>نحوه پرداخت</label>
                                <input id="studentFinancialPaymentTypeName" readonly="readonly" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>تاریخ پرداخت </label>
                                <input id="amountPaidDateTime" readonly="readonly" type="text" placeholder="تاریخ پرداخت" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>درخواست شماره ارجاع</label>
                                <input id="requestReferenceNumber" readonly="readonly" type="text" placeholder="درخواست شماره ارجاع" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 pull-right">
                            <div class="form-group text-right">
                                <label>شرح سند</label>
                                <textarea id="text-value" rows="3" readonly="readonly" class="form-control">xxcv</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">بستن</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
