 <section>
    <div class="container SearchPAll">
        <div class="split-c">
            <hr class="hr" />
            <span class="pad-line-s split-liner bg-color-Purple ">
                جدیـد ترین دوره ها
            </span>
        </div>
    </div>






    <div class="container discount-course">

        <div class="row">
            <div style="clear:both;"></div>

            <a class="main-content-discount" href="ProductShow_22.htm">

                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-12 content">

                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img">
                            <img src="/assets/files/Products/2020-10-10-04-00-16pm-40.png" />
                        </div>

                        <div class="content-title">
                            فرمولهای ریاضی ششم <br />
                            <span>
                            </span>
                        </div>
                        <div class="cart">
                            <img src="/assets/img/sabab1.png" />

                        </div>
                        <div class="discount" style="">
                            25%
                            <br />
                            تخفیف
                        </div>

                    </div>
                </div>

            </a>
            <a class="main-content-discount" href="ProductShow_22.htm">

                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-12 content">

                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img">
                            <img src="/assets/files/Products/2020-10-10-04-00-16pm-40.png" />
                        </div>

                        <div class="content-title">
                            فرمولهای ریاضی ششم <br />
                            <span>
                            </span>
                        </div>
                        <div class="cart">
                            <img src="/assets/img/sabab1.png" />

                        </div>
                        <div class="discount" style="">
                            25%
                            <br />
                            تخفیف
                        </div>

                    </div>
                </div>

            </a>
            <a class="main-content-discount" href="ProductShow_22.htm">

                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-12 content">

                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img">
                            <img src="/assets/files/Products/2020-10-10-04-00-16pm-40.png" />
                        </div>

                        <div class="content-title">
                            فرمولهای ریاضی ششم <br />
                            <span>
                            </span>
                        </div>
                        <div class="cart">
                            <img src="/assets/img/sabab1.png" />

                        </div>
                        <div class="discount" style="">
                            25%
                            <br />
                            تخفیف
                        </div>

                    </div>
                </div>

            </a>
            <a class="main-content-discount" href="ProductShow_22.htm">

                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-12 content">

                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img">
                            <img src="/assets/files/Products/2020-10-10-04-00-16pm-40.png" />
                        </div>

                        <div class="content-title">
                            فرمولهای ریاضی ششم <br />
                            <span>
                            </span>
                        </div>
                        <div class="cart">
                            <img src="/assets/img/sabab1.png" />

                        </div>
                        <div class="discount" style="">
                            25%
                            <br />
                            تخفیف
                        </div>

                    </div>
                </div>

            </a>
            <a class="main-content-discount" href="ProductShow_22.htm">

                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-12 content">

                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img">
                            <img src="/assets/files/Products/2020-10-10-04-00-16pm-40.png" />
                        </div>

                        <div class="content-title">
                            فرمولهای ریاضی ششم <br />
                            <span>
                            </span>
                        </div>
                        <div class="cart">
                            <img src="/assets/img/sabab1.png" />

                        </div>
                        <div class="discount" style="">
                            25%
                            <br />
                            تخفیف
                        </div>

                    </div>
                </div>

            </a>
        </div>
    </div>



</section>