
<style type="text/css">
     
</style>
<section class="videos-epizero col-12 mt-5">

    <div class="container p-0">

        <div class="row">
            <div class="list-items list-right col-12 col-md-12 col-lg-3 p-0">

                <div class="lg-vw">  <img src="~/assets/img/logo/logo.png" alt="پرسش و پاسخ زنده" /></div>

                <div class="list-box">
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/r2.mp4">
                        پرسش و پاسخ زنده
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/rf-7.mp4">
                        طرح بی نهایت سوال
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/rf-6.mp4">
                        ارسال و بررسی تکالیف
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/r5.mp4">
                        آزمون آنلاین
                    </a>
                </div>

            </div>
            <div class="view-videos col-12 col-md-12 col-lg-6 text-center">
                <img src="~/assets/img/imac-slide.png" alt="لینک پرداخت" class="img-mac" />
                <div class="box-video">
                    <video autoplay muted loop>
                        <source src="/assets/videos/l2.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
            <div class="list-items list-left col-12 col-md-12 col-lg-3 p-0">

                <div class="lg-vw"> <img src="~/assets/img/logo/en-logo.png" alt="برترین اساتید کشور" /></div>

                <div class="list-box">
                    <a href="javascript:;" class="box-video-item active"
                       data-video="/assets/videos/l2.mp4">
                        برترین اساتید کشور
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/l3.mp4">
                        صرفه جویی در هزینه
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/l4.mp4">
                        نمایش با اینترنت نیم‌بها
                    </a>
                    <a href="javascript:;" class="box-video-item" data-video="/assets/videos/l5.mp4">
                        دسترسی به جزوه و سوال
                    </a>
                </div>

            </div>


        </div>

    </div>

</section>
