<section>
    <div class="container-fluid SearchPAll group-product">
        <div class="row">
            <a href="/Trainings/CourseFilter?LevelGroupId=1&LevelGroupName=ابتدایی">
                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-6 main-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img" style="">
                            <img alt="ابتدایی" title="ابتدایی" src="/assets/files/menumain/2020-10-05-03-45-17-girl-doing-homework-or-online-education-6QJ7S9V.png" />
                        </div>
                        <div class="title">
                            ابتدایی
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Trainings/CourseFilter?LevelGroupId=2&LevelGroupName=@("دوره اول متوسطه".Replace(" "  , "_"))  ">
                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-6 main-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img" style="">
                            <img alt=" دوره اول متوسطه" title=" دوره اول متوسطه" src="/assets/files/menumain/2020-10-05-03-45-39-positive-teenager-having-video-conference-with-tea-VBYZQD7.png" />
                        </div>
                        <div class="title">
                            دوره اول متوسطه
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Trainings/CourseFilter?LevelGroupId=3&LevelGroupName=@("دوره دوم و کنکور".Replace(" "  , "_"))  ">
                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-6 main-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img" style="">
                            <img alt="دوره دوم و کنکور" title="دوره دوم و کنکور" src="/assets/files/menumain/2020-10-12-12-58-02-image_2020-10-12_11-36-58.png" />
                        </div>
                        <div class="title">
                            دوره دوم و کنکور
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Trainings/CourseFilter?LevelGroupId=4&LevelGroupName=المپیاد">
                <div data-aos="fade-right" class="col-md-3 col-sm-6 col-xs-6 main-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 main">
                        <div class="div-img" style="">
                            <img alt="المپیاد" title="المپیاد" src="/assets/files/menumain/2020-10-12-12-58-21-2020-10-05-03-46-07-education-remotely-and-independently-smiling-guy-w-9TY698P.png" />
                        </div>
                        <div class="title">
                           المپیاد
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>