<section class="list-azmon-t">
    <div class="container SearchPAll">
        <div class="split-c">
            <hr class="hr" />
            <span class="pad-line-s split-liner bg-color-newyellow">
                لیــست آزمــون ها
            </span>
        </div>
    </div>


    <div class="container list-exam">
        <div class="row">
            <div style="clear:both;"></div>
            <div class="swiper-container swiper2" style="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 list-azmon">
                            <div class="main">
                                <div class="main-img">
                                    <img src="/assets/files/Azmoon/2020-10-18-04-39-54pm-1111111.png" alt="" title="" />
                                </div>

                                <div class="title-lg">
                                    آزمون آنلاین زیست - دکتر باقری<br />
                                    <span>
                                        سعید باقری
                                    </span>
                                </div>


                                <div class="main-img-lg">
                                    <img src="/assets/img/sabab1.png" />
                                    <div></div>
                                </div>


                                <div class=" discount-lg" style="">
                                    <span>10%</span>
                                    <span class="hidden-xs">تخفیف</span>

                                </div>



                                <div class="btn btn-lg">
                                    <a href="https://epizero.ir/ExamShow.php?id=1">
                                        اطلاعات بیشتر
                                    </a>
                                </div>


                                <div class="img-small">

                                    <img title="" src="/assets/files/Teachers/2020-10-08-02-55-02pm-image_2020-10-08_03-45-59.png" alt="سعید باقری">

                                </div>





                                <div class=" clock-lg" id="clockdiv1">
                                    <div class="day">
                                        <span class="days1">10</span>
                                        <br />
                                        روز
                                    </div>

                                    <div class="hours">
                                        <span class="hours1">2</span>
                                        <br />
                                        ساعت
                                    </div>


                                    <div class="min">
                                        <span class="minutes1">15</span>
                                        <br />
                                        دقیقه
                                    </div>


                                    <div class="sec">
                                        <span class="seconds1">100</span>
                                        <br />
                                        ثانیه
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination2"></div>
            </div>
        </div>

    </div>


</section>