<section>
    <div class="container SearchPAll">
        <div class="split-c">
            <hr class="hr" />
            <span class="pad-line-s split-liner bg-color-newyellow">
                جدیـد ترین دوره ها
            </span>
        </div>
    </div>
    <div class="container new-course">
        <div class="row">
            <div style="clear:both;"></div>
            <div class="swiper-container swiper-teach">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png" />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="ProductShow.htm">
                            <div data-aos="fade-right" class="col-md-12 col-sm-12 col-xs-12 main-new-course">
                                <div class="col-md-12 col-sm-12 col-xs-12 content-new-course">
                                    <div class="div-main-img">
                                        <img title="" src="/assets/files/Products/2021-02-14-02-58-46pm-olampiad fizik.png">
                                    </div>

                                    <div class="div-title-content">
                                        هویت <br />
                                        <span>
                                            فیروز نژادنجف
                                        </span>
                                    </div>
                                    <div class="div-img-small">
                                        <img title="" src="/assets/files/Teachers/2020-10-09-11-19-46am-image_2020-10-08_23-55-32.png" />
                                    </div>
                                    <div class="div-cart-main">
                                        <img src="/assets/img/sabab1.png"  />
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination-teach"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>




