@model PanelViewModels.EditPrefix<PanelViewModels.FinancialsViewModels.PaidChequesViewModel>

<div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="EditForm" role="form">
                <div class="modal-header edit-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.DueDate"></label>
                                <input data-mask="9999/99/99" asp-for="Edit.DueDate" class="form-control" data-bind="value: e().DueDate">
                                <span asp-validation-for="Edit.DueDate" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.IssueDate"></label>
                                <input data-mask="9999/99/99" asp-for="Edit.IssueDate" class="form-control" data-bind="value: e().IssueDate">
                                <span asp-validation-for="Edit.IssueDate" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.ChequeNo"></label>
                                <input asp-for="Edit.ChequeNo" class="form-control" data-bind="value: e().ChequeNo">
                                <span asp-validation-for="Edit.ChequeNo" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.AmountPaid"></label>
                                <input type="text" asp-for="Edit.AmountPaid" class="form-control currency" data-bind="value: e().AmountPaid">
                                <span asp-validation-for="Edit.AmountPaid" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.RemainingAmount"></label>
                                <input type="text" readonly="readonly" asp-for="Edit.RemainingAmount" class="form-control currency" data-bind="value: e().RemainingAmount">
                                <span asp-validation-for="Edit.RemainingAmount" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.BankId"></label>
                                <select asp-for="Edit.BankId" type="text" data-bind="value: e().BankId" class="form-control">
                                    <option value="">لطفاً انتخاب کنید</option>
                                    @foreach (var item in ViewBag.Banks)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="Edit.BankId" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.ChequesStatusTypeId"></label>
                                <select asp-for="Edit.ChequesStatusTypeId" type="text" data-bind="value: e().ChequesStatusTypeId" class="form-control">
                                    <option value="1">وصول شده</option>
                                    <option value="2">وصول نشده</option>
                                    <option value="3">برگشت خورده</option>
                                    <option value="4">عودت داده شده</option>
                                </select>
                                <span asp-validation-for="Edit.ChequesStatusTypeId" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.BranchCode"></label>
                                <input asp-for="Edit.BranchCode" class="form-control" data-bind="value: e().BranchCode">
                                <span asp-validation-for="Edit.BranchCode" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.BranchName"></label>
                                <input asp-for="Edit.BranchName" class="form-control" data-bind="value: e().BranchName">
                                <span asp-validation-for="Edit.BranchName" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.FishingCode"></label>
                                <input asp-for="Edit.FishingCode" class="form-control" data-bind="value: e().FishingCode">
                                <span asp-validation-for="Edit.FishingCode" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.AccountNumber"></label>
                                <input asp-for="Edit.AccountNumber" class="form-control" data-bind="value: e().AccountNumber">
                                <span asp-validation-for="Edit.AccountNumber" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Edit.NameAccountHolder"></label>
                                <input asp-for="Edit.NameAccountHolder" class="form-control" data-bind="value: e().NameAccountHolder">
                                <span asp-validation-for="Edit.NameAccountHolder" class="danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Edit.Description"></label>
                                <textarea rows="3" asp-for="Edit.Description" class="form-control" data-bind="value: e().Description"></textarea>
                                <span asp-validation-for="Edit.Description" class="danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

