@{
    ViewData["Title"] = "خطای 401";
    ViewData["PageFarsiName"] = "خطای 401";
}
<script type="text/javascript">
    $(function () {
        //*********************************************************
        $('#returnBack').click(function () {
            window.history.back();
        });
        //********************************************************
    });
</script>
<div style="margin-top:50px;">
    <center>
        <img src="~/images/error.png" style="height:200px;width:200px;" />
        <h4>شما به این صفحه دسترسی ندارید</h4>
        <button id="returnBack" type="button" class="btn btn-primary">بازگشت</button>
    </center>
</div>