@model WebViewModels.TrainingsViewModels.AddCourseStudentQuestionsViewModel
@using WebViewModels.TrainingsViewModels
@{
    var Courses = (CoursesViewModel)ViewBag.Courses;
}

<style type="text/css">
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #dddd;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .modal-title {
        float: right;
    }

    .close {
        float: left;
    }
</style>
<script src="/assets/js/manage-audio.js"></script>
<script type="text/javascript"> 
    $('body').on('click', '.add-a-q', function () {
        $('#addQuestionModal').modal({ backdrop: 'static', keyboard: false });
        $('#addQuestionModal').modal('show');
    });

</script>




<div class="modal fade" id="addQuestionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ارسال سوال</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="addQuestion" id="addQuestionForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Context"></label>
                                <textarea asp-for="Context" rows="3" type="text" class="form-control" data-bind="value:questionAdd().Context"></textarea>
                                <span class="validation" asp-validation-for="Context"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-6 pull-right">
                            <div class="personal-pic">
                                <div class="myAccount-content">
                                    <div style="text-align:center">
                                        <div class="form-group">
                                            @await Html.PartialAsync("~/Views/Component/ImageUploader.cshtml",
                                            new WebPresentationLayer.ComponentModel.ImageUploader()
                                            {
                                            ButtonFarsiName = "انتخاب تصویر",
                                            DefualuNullImagePath = "/assets/img/DefaultFlag.svg",
                                            Name = "QuestionPicPath",
                                            KnockoutExpressionString = "mainViewModel.questionAdd().QuestionPicPath",
                                            MaxImageHeight = 3000,
                                            MaxImageWidth = 3000,
                                            MinImageHeight = 1,
                                            MinImageWidth = 1,
                                            MaxImageSize = 20480,
                                            HasDeleteBtn = false,
                                            //Description = "   حداکثر حجم مجاز تصویر : 300 کیلوبایت"
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6 pull-right">
                            <div class="form-group">
                                @await Html.PartialAsync("~/Views/Component/FileUploader.cshtml",
                                new WebPresentationLayer.ComponentModel.FileUploader()
                                {
                                ButtonFarsiName = "انتخاب فایل",
                                DefualtNullFileImagePath = "/assets/img/DefaultUploadFile.svg",
                                DefualtSelectedFileImagePath = "/assets/img/Ok.png",
                                Name = "QuestionFilePath",
                                KnockoutExpressionString = "mainViewModel.questionAdd().QuestionFilePath",
                                HasDeleteBtn = false,
                                MaxFileSize = 20480,
                                //Description = "حداکثر حجم مجاز فایل : 20 مگابایت"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-md-12">
                           <hr />
                       </div>
                    </div>
                    <div class="row audio-div">
                        <div class="col-md-12">
                            <div class="audio-record">
                                <button class="removeButton" type="button" id="question_removeButton">
                                    حذف ضبط <i class="fa fa-remove" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="question_stopButton" class="inactive stopButton">
                                    توقف ضبط <i class="fa fa-stop" aria-hidden="true"></i>
                                </button>
                                <button class="recordButton" type="button" id="question_recordButton">
                                    شروع ضبط <i class="fa fa-microphone" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="playback">
                               
                                <audio src="" controls id="question_audioplayback" class="hidden audio-playback"></audio>
                            </div>
                        </div>
                    </div>

                   
                    <div class="row">
                        <div class="center col-md-12 col-sm-12 col-xs-12">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">بستن</button>
                                <button type="submit" style=" height: 25px; margin-top: 0; padding-top: 3px;" class="btn btn-success btn-sm">
                                    ثبت سوال
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

