@model PanelViewModels.Prefix.ChangePasswordPrefix<PanelViewModels.IdentitiesViewModels.ChangePasswordViewModel>
<div id="ChangePasswordModal" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="ChangePasswordForm" autocomplete="off" role="form">
                <div class="modal-header create-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  <strong>تغییر رمز عبور</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="ChangePassword.Username"></label>
                        <input asp-for="ChangePassword.Username" autocomplete="off" readonly="readonly" class="form-control" data-bind="value: ch().Username">
                        <span asp-validation-for="ChangePassword.Username" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChangePassword.Password"></label>
                        <input type="password" autocomplete="off" asp-for="ChangePassword.Password" class="form-control" data-bind="value: ch().Password">
                        <span asp-validation-for="ChangePassword.Password" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChangePassword.RePassword"></label>
                        <input type="password" asp-for="ChangePassword.RePassword" autocomplete="off" class="form-control" data-bind="value: ch().RePassword">
                        <span asp-validation-for="ChangePassword.RePassword" class="danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-success btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
