@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = " پرسش و پاسخ |  مدرسه آنلاین اپیزرو";
    var courses = (List<PanelViewModels.TeacherTrainingsViewModels.TeacherCoursesViewModel>)ViewBag.Courses;
}
<style>
    #modelList > thead > tr > th:first-child, #modelList > tbody > tr > td:first-child {
        display: none !important;
    }

    .modal .modal-header .fa {
        font-size: 16px;
        margin-left: 5px;
    }

    #AdminAnswerContexBox .d-img img {
        max-width: 160px;
        margin-bottom: 15px;
    }
</style>
<script src="/assets/js/manage-audio.js"></script>
<script id="operands" type="text/html">
    <div class="dropdown clearfix" style="float:right;margin-right:5px;">
        <button class="btn btn-info btn-xs edit" type="button" style="margin-left:3px; margin-top:2px;"><i class="fa fa-question-circle" style="margin-left: 1px;"></i>تعیین وضعیت</button>
        <button class="btn btn-warning btn-xs btn-answerViewer" type="button" style="margin-left:10px; margin-top:2px;"><i class="fa fa-eye" style="margin-left: 1px;"></i>پاسخ ها</button>
    </div>
</script>
<script type="text/javascript">

    $(function () {
        $('body').on('click', '.download-filePath', function (e) {
            e.preventDefault();
            window.open($(this).attr('href'), '_blank');
        });

        $('body').on('click', '.download-picPath', function (e) {
            e.preventDefault();
            window.open($(this).attr('href'), '_blank');
        });

        //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        $('#coursesComboBox, #confirmStatusTypeComboBox').change(function () {
            $('#applyFilter').attr('data-url', '/Trainings/CourseStudentQuestions/Read');
            $('#applyFilter').click();
        });
        $('#confirmStatusTypeComboBox').change();

        //***************************************************************************
        $('body').on('click', '.btn-answerViewer', function () {
            var Id = $('#modelList').DataTable().row($(this).parents('tr').eq(0)).data().Id;
            DataTransfer('/Trainings/CourseStudentQuestions/ReadAnswers/' + Id, 'Get', '', '',
                function (f) {
                    mainViewModel.ac(f.Value);
                    $('#AnswerViewerModal').modal({ backdrop: 'static', keyboard: false });
                    $('#AnswerViewerModal').modal('show');
                },
                function (e) {
                    toastr.remove();
                    toastr.error(e.responseJSON.Message);
                }
            );
            $('#AnswerViewerModal').modal({ backdrop: 'static', keyboard: false });
            $('#AnswerViewerModal').modal('show');
        });
        //***************************************************************************
        $('body').on('click', '.btn-answerConfirm', function (e) {
            e.preventDefault();
            mainViewModel.confirm().Id = $(this).attr('data-Id');
            $('#data-answerPicPath').attr('data-url', $(this).attr('data-AnswerPicPath'));
            $('#data-answerFilePath').attr('data-url', $(this).attr('data-AnswerFilePath'));
            $('#data-answerAudioPath').attr('src', $(this).attr('data-AnswerAudioPath'));
            $('#data-answerAudioPath-1').attr('src', $(this).attr('data-AnswerAudioPath'));

            var attr = $(this).attr('data-AnswerFilePath');
            var attr2 = $(this).attr('data-AnswerPicPath');
            var attr3 = $(this).attr('data-AnswerAudioPath');

           if (typeof attr == 'undefined' || attr == false) {
                $('.div-file').hide();
            }else{
                $('.div-file').show();
            }


            if (typeof attr2 == 'undefined' || attr2 == false) {
                $('.div-pic').hide();
            }else{
                $('.div-pic').show();
            }

            if (typeof attr2 == 'undefined' || attr2 == false) {
                $('.div-audio').hide();
            } else {
                $('.div-audio').show();
            }



            $('#answerContext').text($(this).attr('data-AnswerContext'));
            $('#answeredUserFullName').val($(this).attr('data-AnsweredUserFullName'));
            $('#regDateTime').val($(this).attr('data-RegDateTime'));
            $('#AnswerConfirmModal').modal({ backdrop: 'static', keyboard: false });
            $('#AnswerConfirmModal').modal('show');
        });

        $('body').on('click', '.btn-dwn', function () {
            window.open($(this).attr('data-url'), '_blank');
        });
        //***************************************************************************
        $('#ConfirmForm').submit(function () {
            if ($(this).valid()) {
                DataTransfer('/Trainings/CourseStudentQuestions/ConfirmAnswer/', 'Post', ko.toJSON(mainViewModel.confirm()), '#resultLoader',
                    function (f) {
                        toastr.remove();
                        toastr.success(f.Message);
                        $('#AnswerConfirmModal').modal('hide');
                        readAnswer(mainViewModel.ac().Id);
                    },
                    function (e) {
                        toastr.remove();
                        toastr.error(e.responseJSON.Message);
                    }
                );
            }
            return false;
        });
        //***************************************************************************
        function readAnswer(id) {
            DataTransfer('/Trainings/CourseStudentQuestions/ReadAnswers/' + id, 'Get', '', '#resultLoader',
                function (f) {
                    toastr.remove();
                    mainViewModel.ac(f.Value);
                },
                function (e) {
                    toastr.remove();
                    toastr.error(e.responseJSON.Message);
                }
            );
        }
        //***************************************************************************
        $('body').on('submit', '.btn-confirm', function (e) {
            e.preventDefault();
            $('#AnswerConfirmModal').modal('hide');
        });
        //***************************************************************************
        $('#AnswerConfirmModal').on("hidden.bs.modal", function (event) {
            $('body').addClass('modal-open');
            $('#IsBestAnswer').val('').change();
            $('#IsVerified').val('').change();
            $('#AnswerViewerModal').modal('show');
        });
        //***************************************************************************
        $('#AnswerViewerModal').on("hidden.bs.modal", function (event) {
            $('#reloadTableBtn').click();
        });
        //***************************************************************************
        $('body').on('click', '.btn-addQuestion', function (e) {
            e.preventDefault();
            mainViewModel.adminAnswerContex().QuestionId = $(this).attr('data-Id');
            $('#AdminAnswerContexBox').modal({ backdrop: 'static', keyboard: false });
            $('#AdminAnswerContexBox').modal('show');
        });
        //***************************************************************************
        $('#AdminAnswerContexBox').on("hidden.bs.modal", function (event) {
            $('body').addClass('modal-open');
            $('#AnswerViewerModal').modal('show');
            mainViewModel.adminAnswerContex({});
        });
        //***************************************************************************
        $('#AdminAnswerContexForm').submit(function () {
            if ($(this).valid()) {

                DataTransfer('/Trainings/CourseStudentQuestions/AddAdminAnswers/', 'Post', ko.toJSON(mainViewModel.adminAnswerContex()), '#resultLoader',
                    function (f) {
                        toastr.remove();
                        toastr.success(f.Message);
                        readAnswer(mainViewModel.ac().Id);
                        $('#AdminAnswerContexBox').modal('hide');
                        $('#question_removeButton').hide();
                        $('#AnswerFilePathFile').attr('src', '/assets/img/DefaultUploadFile.svg');
                        $('#AnswerPicPathImage').attr('src', '/assets/img/DefaultFlag.svg');
                        $('#answer_stopButton').prop('disabled', false);
                        $('#answer_recordButton').prop('disabled', false);
                        $('#answer_audioplayback').addClass("hidden");
                        $('#answer_removeButton').hide();
                    },
                    function (e) {
                        toastr.remove();
                        toastr.error(e.responseJSON.Message);
                    }
                );
            }
            return false;
        });
        $('.dataTables_filter').hide();
        $('#modelList_length').hide();
        //=-=-=-=-=-=-=-=--==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        $('#modelList').on('click', '.edit',
            function () {
                var data = table.row($(this).parents('tr')).data();
                DataTransfer('/Trainings/CourseStudentQuestions/Find', 'Post', '{"Id": "' + data.Id + '"}', '',
                    function (f) {
                        toastr.remove();
                        mainViewModel.e(f.Value);
                        $('#EditBox').modal({ backdrop: 'static', keyboard: false });
                        $('#EditBox').modal('show');
                    },
                    function (e) {
                        toastr.remove();
                        toastr.error(e.responseJSON.Message);
                    }
                );
            });

        //=-=-=-=-=-=-=-=--==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        $('#EditForm').submit(function () {
            if ($(this).valid()) {
                DataTransfer('/Trainings/CourseStudentQuestions/Update', 'Post', ko.toJSON(mainViewModel.e()), '',
                    function (f) {
                        toastr.success(f.Message);
                        $('#applyFilter').click();
                        $('#EditBox').modal('hide');
                    },
                    function (e) {
                        toastr.remove();
                        toastr.error(e.responseJSON.Message);
                    }
                );
            }
            return false;
        });
        $('#AdminAnswerContexBox').on("hidden.bs.modal", function (event) {
            $('#AnswerFilePathFile').attr('src', '/assets/img/DefaultUploadFile.svg');
            $('#AnswerPicPathImage').attr('src', '/assets/img/DefaultFlag.svg');
            $('#answer_stopButton').prop('disabled', false);
            $('#answer_recordButton').prop('disabled', false);
            $('#answer_audioplayback').addClass("hidden");
            $('#answer_removeButton').hide();
        });
        //=-=-=-=-=-=-=-=-=-=-=-=
        $('body').on('click', '#answer_removeButton', function () {
            mainViewModel.adminAnswerContex().AudioPath = null;
            $('#answer_stopButton').prop('disabled', false);
            $('#answer_recordButton').prop('disabled', false);
            $('#answer_audioplayback').addClass("hidden");
            $(this).hide();
        });

    });
</script>


<div class="container-fluid">
    <div class="row">
        <div class="box-title-t">
            <span class="t-a"> پرسش و پاسخ   </span>
        </div>
    </div>
</div>
<section class="list-student m-b-25">
    <div class="container">

        <div class="border-i">

            <div class="form-group">
                <div class="select-box">
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <select id="coursesComboBox" class="form-control" data-bind="value: fe().CourseId">
                                @*<option value="0">همـــه</option>*@
                                @foreach (var course in courses)
                                {
                                    <option value="@course.Id">@course.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 pull-right">
                            <select id="confirmStatusTypeComboBox" class="form-control" data-bind="value: fe().ConfirmStatusTypeId">
                                <option value="1">در حال بررسی</option>
                                <option value="2">تأیید شده</option>
                                <option value="3">رد شده </option>
                            </select>
                        </div>
                    </div>





                    <input class="none" type="button" id="applyFilter" value="apply" />
                </div>

            </div>
        </div>

    </div>
</section>

<section class="answer-question-teacher">
    <div class="container">
        <div class="row">
            <table id="modelList" class="table table-striped table-hover dataTable no-footer" style="width:100%">
                <thead class="bordered-darkorange" data-actionColumn="custom">
                    <tr>
                        <th data-viewModel="Id" style="width: 30px;">
                            <div class="checkbox"><label style="font-size: 1.2em"><input type="checkbox" value=""><span class="cr"><i class="cr-icon fa fa-check"></i></span></label></div>
                        </th>
                        <th data-viewModel="StudentUserFullName">دانش آموز</th>
                        <th data-viewModel="CourseName">دوره</th>
                        <th data-viewModel="RegDateTime">تاریخ ثبت</th>
                        <th data-viewModel="CourseStatusType">وضعیت</th>
                        <th data-viewModel="VerifiedDateTime">تاریخ تعیین وضعیت</th>
                        <th data-viewModel="UnVerifiedAnswerCount">تعداد پاسخ بررسی نشده</th>
                        <th style="width: 210px;">عملیات</th>
                    </tr>
                </thead>
            </table>
        </div>
        @{
            await Html.RenderPartialAsync("Edit.cshtml");
            await Html.RenderPartialAsync("AnswerViewerModal.cshtml");
            await Html.RenderPartialAsync("AnswerConfirmModal.cshtml");
            await Html.RenderPartialAsync("AdminAnswerContextModal.cshtml");
        }
    </div>
</section>


