@model WebViewModels.Prefix.ChangePasswordPrefix<WebViewModels.IdentitiesViewModels.ChangePasswordViewModel>
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="loginmodal-container"> 
            <h1 class="title">تغییر رمز عبور</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <br>

            <form id="changePasswordForm">
                <div class="form-group">
                    <label asp-for="ChangePassword.OldPassword"></label>
                    <input asp-for="ChangePassword.OldPassword" type="password" class="form-control" placeholder="رمز عبور قبلی" data-bind="value: changePassword().OldPassword">
                    <span asp-validation-for="ChangePassword.OldPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChangePassword.Password"></label>
                    <input asp-for="ChangePassword.Password" type="password" class="form-control" placeholder="رمز عبور جدید" data-bind="value: changePassword().Password">
                    <span asp-validation-for="ChangePassword.Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChangePassword.RePassword"></label>
                    <input asp-for="ChangePassword.RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور جدید" data-bind="value: changePassword().RePassword">
                    <span asp-validation-for="ChangePassword.RePassword"></span>
                </div>
                <button type="submit" class="btn btn-primary pull-left">تغییر رمز عبور</button>
            </form> 
        </div>
    </div>
</div>