@model PanelViewModels.EditPrefix<PanelViewModels.OnlineExamViewModels.LessonTopicsViewModel>

<div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="EditForm" role="form">
                <div class="modal-header edit-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Edit.Name"></label>
                        <input asp-for="Edit.Name" class="form-control" data-bind="value: e().Name">
                        <span asp-validation-for="Edit.Name" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edit.Inx"></label>
                        <input type="text" asp-for="Edit.Inx" class="form-control" data-bind="value: e().Inx">
                        <span asp-validation-for="Edit.Inx" class="danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
