@model  PanelViewModels.EditPrefix<PanelViewModels.BasicDefinitionsViewModels.SmsOptionsViewModel>

    <div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                <form id="EditForm" role="form">
                      <div class="modal-header edit-modal">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                        </div>
                      <div class="modal-body">

                          <div class="form-group">
                              <label asp-for="Edit.Title"></label>
                              <input readonly="readonly" asp-for="Edit.Title" class="form-control" data-bind="value: e().Title">
                              <span asp-validation-for="Edit.Title" class="danger"></span>
                          </div>
                          <div class="form-group">
                              <label asp-for="Edit.Price"></label>
                              <input asp-for="Edit.Price" class="form-control" data-bind="value: e().Price">
                              <span asp-validation-for="Edit.Price" class="danger"></span>
                          </div>
                          <div class="form-group">
                              <label asp-for="Edit.IsActive"></label>
                              <select asp-for="Edit.IsActive" class="form-control" data-bind="value: e().IsActive">
                                  <option value="1">فعال</option>
                                  <option value="0">غير فعال</option>
                              </select>
                              <span asp-validation-for="Edit.IsActive" class="danger"></span>
                          </div>
                         
                      </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                  <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
             </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
