 
@{
    ViewData["Title"] = "خطای 500";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="error ">
    <div class="page-title">
        <div class="container">
            <h1 class="h2">خطای سرور داخلی</h1>

            <div class="breadcrumbs">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span class="listItem">
                    <a title="برو به مدرسه آنلاین اپیزرو - ابتدایی تا کنکور."
                       href="/" class="home">
                        <span class="">مدرسه آنلاین اپیزرو - ابتدایی تا کنکور</span>
                    </a>

                </span>
                <i class="fa fa-angle-left"></i>
                <span class="404 current-item">500</span>
            </div>
        </div>
    </div>
    <div class="main-page-content default-margin">
        <div class="site-content-inner container">

            <div class="error-404 not-found">
                <div class="row">

                    <div class="col-md-8 col-xs-12">
                        <div class="not-found-content">
                            <h1 class="title">خطای 500 : خطای سرور داخلی</h1>
                            <p>خطایی در پردازشات مورد نظر شما اتفاق افتاده است لطفا مجددا امتحان نمایید.</p>
                            <a href="/" class="btn btn-border">برگشت به صفحه اصلی</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="not-found-icon-wrapper">
                            <span class="error-page">500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>