<style type="text/css">
    .footer-main .align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .footer-main .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .footer-main .align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .footer-main .justify-content-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    #PPTrust a img {
        margin-top: 15px;
        margin-right: 15px
    }

    .footer-main .footer-info .list-footer .logos-cr .box-lg > img {
        width: 88px !important;
    }

    .aboutus-d {
        margin-bottom: 35px;
        margin-top: 35px;
        text-align:center;
    }

        .aboutus-d a {
            background: #fff;
            padding: 2px 10px 2px 10px;
            border-radius: 5px;
            color: #444;
            transition:all .3s;
        }
        .aboutus-d a:hover{
             background: #fff;
                color: #000;
                transition: all .3s;
                 
        }
</style>

<footer class="footer-main col-12 p-0">

    <section class="footer-info col-12">

        <div class="container-fluid">

            <div class="row">

                <div class="info-site col-md-12 col-lg-5 col-xs-12 pull-right">

                    <div class="logo-epizero">
                        @*<img src="/images/logo/logo.png" alt="مدرسه آنلاین اپیزرو">*@
                    </div>
                    <h3 class="title-site mt-3">مدرسه آنلاین اپیزرو</h3>
                    <p class="desc-site">
                        اپـیــزرو یک سامانه جامع برای افزایش سطح یادگیری و تعامل بیشتر اساتید با دانش آموزان است. در
                        اپـیـزرو مشکلات کلاس های حضوری از جمله هزینه بالای ثبت نام، مشکلات رفت و آمد، عدم برگزاری
                        کلاس های رفع اشکال، عدم ارزیابی منظم و هدفمند، کیفیت پایین کلاسها حتی دربرخی دوره های
                        آنلاین، بررسی شده و یک سیستم آموزشی نوین بازطراحی شده است تا دانش اموزان بتوانند بصورتی
                        کارامد، در کلاسهای آنلاین شرکت کنند.
                    </p>
                    <div class="aboutus-d"><a href="/Contents/AboutUS">درباره ما</a></div>

                </div>

                <div class="list-footer col-md-12 col-lg-7 col-xs-12  d-flex flex-wrap flex-lg-nowrap mt-3 mt-lg-3">


                    <div class="item-list col-12 col-md-4 col-lg-4 col-xs-12 pl-0 pull-right">

                        <div class="title-list-group">ارتباط با ما</div>

                        <ul class="list-menu">
                            <li>

                                <a href="tel:021284221" class="link-mn">
                                    <i class="fa fa-phone"></i>
                                    تهران: 021284221
                                </a>
                            </li>

                            <li>
                                <a href="tel:04135558437" class="link-mn">
                                    <i class="fa fa-phone"></i>
                                      تبریز: 04135558437
                                </a>
                            </li>

                          
                            <li>
                                <a href="mailto:info@epizero.com" class="link-mn">
                                    <i class="fa fa-envelope"></i>
                                    ایمیل: info@epizero.com
                                </a>
                            </li>

                            <li>
                                <a href="https://t.me/epizero" class="link-mn" target="_blank">
                                    <i class="fa fa-telegram"></i>
                                    تلگرام
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/epizero_online" target="_blank" class="link-mn">
                                    <i class="fa fa-instagram"></i>
                                    اینستاگرام
                                </a>
                            </li>

                            <li>
                                <a href="https://aparat.com/Epizero" class="link-mn" target="_blank">
                                    <i class="fa fa-circle"></i>
                                    آپارات
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="item-list col-12 col-md-4 col-lg-4 col-xs-12 pr-5 pull-right">

                        <div class="title-list-group">موارد بیشتر</div>

                        <ul class="list-menu">

                            <li>

                                <a title="آموزش کنکور  | مدرسه آنلاین اپیزرو" href="/Trainings/CourseFilter?LevelGroupId=3&LevelGroupName=دوره_دوم_و_کنکور" class="link-mn">
                                    آموزش کنکور
                                </a>
                            </li>

                            <li>
                                <a title="آموزش دروس ابتدایی  | مدرسه آنلاین اپیزرو" href="/Trainings/CourseFilter?LevelGroupId=1&LevelGroupName=ابتدایی" class="link-mn">
                                    آموزش دروس ابتدایی
                                </a>
                            </li>

                            <li>
                                <a title=" آموزش دروس اول متوسطه | مدرسه آنلاین اپیزرو" href="/Trainings/CourseFilter?LevelGroupId=2&LevelGroupName=دوره_اول_متوسطه" class="link-mn">
                                    آموزش دروس اول متوسطه
                                </a>
                            </li>
                            <li>
                                <a title=" آموزش المپیاد | مدرسه آنلاین اپیزرو" href="/Trainings/CourseFilter?LevelGroupId=4&LevelGroupName=المپیاد" class="link-mn">
                                    آموزش المپیاد
                                </a>
                            </li>
                            <li>
                                <a title=" قوانین و مقررات | مدرسه آنلاین اپیزرو" href="/Contents/Rules" class="link-mn">
                                    قوانین و مقررات
                                </a>
                            </li>
                            <li>
                                <a href="/Financials/StudentPaymentLinks/Index" class="link-mn">
                                    پرداخت های آنلاین
                                </a>
                            </li>
                            <li>
                                <a href="/Contents/FAQ/Index" class="link-mn">
                             سوالات متداول
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="item-list enamd-list col-12 col-md-4 col-lg-4 col-xs-12  px-0">

                        <div class="title-list-group">مجوزها</div>

                        <div class="logos-cr enamad-box d-flex align-items-center">
                            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=244135&code=AObaBdNElxvZFK4OlkM8"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=244135&amp;Code=AObaBdNElxvZFK4OlkM8" alt="" style="cursor:pointer" id="AObaBdNElxvZFK4OlkM8"></a>

                            <a style="width:80px;height:80px;display:inline-block;" href="#" class=" d-flex align-items-center justify-content-center">
                                <span id="PPTrust" />
                                <script src="https://cdn.payping.ir/statics/trust-v2.js"
                                        theme="light"
                                        size="md"></script>

                            </a>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>

    <section class="footer-copyright col-12">

        <div class="container">

            <div class="row justify-content-center justify-content-md-between justify-content-lg-between no-gutters">

                <p class="cp-text">
                    © کلیه حقوق متعلق به  <a href="https://epizero.ir/" title="سامانه آموزشی سهاد">اپیزرو</a>  می باشد.
                </p>

                @*<ul class="list-socials">


                <a href="#" class="link-sc">
                <i class="icon-facebook-logo"></i>
                </a>

                </li>

                <li class="item-sc">

                <a href="#" class="link-sc">
                <i class="icon-instagram"></i>
                </a>

                </li>

                <li class="item-sc">

                <a href="#" class="link-sc">
                <i class="icon-telegram"></i>
                </a>

                </li>

                <li class="item-sc">

                <a href="#" class="link-sc">
                <i class="icon-twitter"></i>
                </a>

                </li>

                <li class="item-sc">

                <a href="#" class="link-sc">
                <i class="icon-whatsapp"></i>
                </a>

                </li>

                </ul>*@

            </div>

        </div>

    </section>

</footer>