@using WebBusinessLogicLayer.BusinessComponents.IdentitiesComponents

@{
    var userSummeryInfo = User.Identity.IsAuthenticated ? UsersComponent.GetName(Convert.ToInt32(Context.User.Claims.ToList()[1].Value)) : null;
}

<style type="text/css">
    .dropdown {
        margin-top: 4px;
        margin-left: 13px;
        margin-right: 13px;
    }

        .dropdown a {
            font-size: 13px;
            color: #fff;
        }

  
</style>


<header class="header-main col-12">

    <div class="container-fluid">

        <div class="row align-items-center justify-content-between">

            <div class="logo-site d-flex align-items-center">
                <a href="/">
                    <img src="~/assets/img/logo.png" alt="مدرسه آنلاین اپیزرو" class="img-logo">
                </a>

                <nav class="navbar navbar-expand-lg navbar-epizero">

                    <button class="navbar-toggler mburger mburger--collapse" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <div class="mburger mburger--collapse">
                            <b></b>
                            <b></b>
                            <b></b>
                        </div>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="height:100% !important">
                        <ul class="navbar-nav pr-3">
                            <li class="nav-item">
                                <a title="کلاس آنلاین کنکور و متوسطه" class="nav-link" href="/">اپیزرو</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">مقاطع تحصیلی <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a title="آموزش کنکور" href="/Trainings/CourseFilter?LevelGroupId=3&LevelGroupName=دوره_دوم_و_کنکور">آموزش کنکور </a></li>
                                    <li><a title="آموزش دروس ابتدایی" href="/Trainings/CourseFilter?LevelGroupId=1&LevelGroupName=ابتدایی">آموزش دروس ابتدایی</a></li>
                                    <li><a title=" آموزش دروس اول متوسطه" href="/Trainings/CourseFilter?LevelGroupId=2&LevelGroupName=دوره_اول_متوسطه">آموزش دروس اول متوسطه</a></li>
                                    <li><a title=" آموزش المپیاد" href="/Trainings/CourseFilter?LevelGroupId=4&LevelGroupName=المپیاد">آموزش المپیاد</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Trainings/OnlineExams">آزمون ها</a>
                            </li>
                            @if(!User.Identity.IsAuthenticated)
                            {
                               <li class="nav-item">
                                <a target="_blank" class="nav-link" href="https://tp.epizero.ir">پنل دبیر</a>
                               </li>  
                            }
                           
                            <li class="nav-item">
                                <a class="nav-link" href="/Contents/ContactUs">تماس با ما</a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>
            <div class="d-flex align-items-center justify-content-center">
                @{
                    await Html.RenderPartialAsync("_SearchBox");
                }
            </div>
            <div class="options-site d-flex align-items-center justify-content-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-info btn-profile" target="_blank" href="/Identities/UserProfiles/Index">
                      پنل دانش آموز
                    </a>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            @(userSummeryInfo.Name) عزیز
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/UserDashboard"> ورود به پنل کاربری  </a></li>
                            <li>
                                <a href="/Financials/Transactions">
                                    موجودی کیف پول :
                                    <br>
                                    <span style="color:#ff0000; font-size:9px;"> @userSummeryInfo.Balance  تومان</span>
                                </a>
                            </li>
                            <li><a id="changePasswordBtn"> تغییر رمز عبور  </a></li>
                            <li><a href="/SignOut">خروج</a></li>


                        </ul>

                    </div>
                }
                else
                {
                    <a class="btn btn-register loginModalBtn" data-toggle="modal"
                   data-target="#register_modal">ورود / عضویت</a>
                }
                <a href="/orders/orders" class="btn btn-cart">
                    <i class="fa fa-shopping-bag"></i>
                    <span class="count-cart" id="cart_item_couter">0</span>
                </a>

            </div>

        </div>

    </div>

</header>
