<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    @*<title>مدرسه آنلاین اپیزرو</title>*@
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="مدرسه آنلاین اپیزرو، کلاسهای اساتید برتر را در خانه تجربه کنید. فرصت برابر آموزشی با دسترسی آسان به تمامی اساتید مطرح کشور و منابع بروز آموزشی." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="epizero_default.html" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="مدرسه آنلاین اپیزرو" />
    <meta property="og:description" content="مدرسه آنلاین اپیزرو، کلاسهای اساتید برتر را در خانه تجربه کنید. فرصت برابر آموزشی با دسترسی آسان به تمامی اساتید مطرح کشور و منابع بروز آموزشی." />
    <meta property="og:url" content="https://epizero.ir" />
    <meta property="og:site_name" content="مدرسه آنلاین اپیزرو" />
    <meta property="article:modified_time" content="2020-09-20T17:23:59+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="shortcut icon" href="/assets/img/faviconss.png">
    @{ await Html.RenderPartialAsync("_StylesPartial"); }

    @RenderSection("Styles", required: false)
    <script src="~/assets/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/lib/knockout/knockout-3.4.2.js"></script>
    <script src="~/assets/lib/chosen_v1.8.7/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            function CountUnReadMessage() {
                DataTransfer('/api/Identities/UserMessageReceiver/CountUnreadMessage', 'Get', '', '', function (e) {
                    $('.count-t').html(e.Value);
                }, function (e) {
                    $('.count-t').html('0');
                });
            }
            CountUnReadMessage();


            //======================================================
            $('body').on('click', '.enterClassLink', function () {
                DataTransfer('/Trainings/OnlineClasses/JoinToClass?CourseMeetingId=' + $(this).attr('data-courseMeetingId'), 'post', '', '.wrapper-parent',
                    function (f) {
                        toastr.remove();
                        if (!f.IsSuccess) {
                            toastr.error(f.Message);
                        } else {
                            window.location.href = f.Value;
                        }
                    },
                    function (e) {
                        toastr.remove();
                        toastr.error(e.responseJSON.Message);
                    });
            });
          //======================================================

            function readLiveOnlineClasses() { 
                DataTransfer('/api/Trainings/LiveOnlineClasses/Read', 'Get', '', '', function (e) {
                    
                    mainViewModel.liveOnlineClasses(e.Value);
                    $('.live-section').show();
                }, function (e) {
                     
                });
            }
            readLiveOnlineClasses();
            //===================================================
            $(function () {
                $('#navbarNavAltMarkup .navbar-nav').find('.active').removeClass('active');
                $('#navbarNavAltMarkup .navbar-nav').children("li:nth-child(2)").addClass('active');
            });
        });
    </script>
</head>
<body id="mainArea">
    <div class="wrapper-parent">
        <div class="wrapper-child">
            <img src="~/assets/img/main-loader.svg" alt="داشبورد دانش آموز" title="لطفا منتظر بمانید" />
            @*<p>لطفا منتظر بمانید...</p>*@
        </div>
    </div>
    @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
    @{ await Html.RenderPartialAsync("_StudentMenus.cshtml"); }
    @RenderBody()

    @{ await Html.RenderPartialAsync("_FooterPartial.cshtml"); }

    @if (!User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("AcountModal/_AccountModal.cshtml");
    }
    else
    {
        await Html.RenderPartialAsync("AcountModal/_ChangePasswordModal.cshtml");  
    }

    @{ await Html.RenderPartialAsync("_ScriptsPartial");}

    @RenderSection("Scripts", required: false)

</body>

</html>

