<div class="row">
    <div class="buttons-preview">

        <a id="create" class="btn btn-success btn-sm shiny"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> افزودن </a>
        <a id="delete"  class="btn btn-danger btn-sm shiny"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> حذف </a>
        <a id="btnPrint" class="btn btn-primary btn-sm hidden-xs hidden-sm shiny"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> چاپ </a>
        <a id="btnExcel" class="btn btn-info btn-sm hidden-xs hidden-sm shiny"> <span class="fa fa-file-excel-o" aria-hidden="true"></span> خروجی اکسل </a>
        <a id="reloadTableBtn" class="btn btn-warning btn-sm shiny"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> بازیابی مجدد </a>
    </div>
    <hr />
</div>

