<div class="spinner" style="position:absolute; left:0;right:0;z-index:1000;top:0;bottom:0;background-color:transparent">
    <div style="display:flex;justify-content:center;align-items:center;height:100%">
        <img src="~/images/TabelLoading.svg" style="width:90px;height:90px;" />
    </div>
</div>