@model PanelViewModels.Prefix.CurrentUserPrefix<PanelViewModels.IdentitiesViewModels.CurrentUserChangePasswordViewModel>
<div id="userChangePasswordModal" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="userChangePasswordForm" autocomplete="off" role="form">
                <div class="modal-header create-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  <strong>افزودن</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="CurrentUser.OldPassword"></label>
                        <input type="password" asp-for="CurrentUser.OldPassword" autocomplete="off" class="form-control" data-bind="value: ch().OldPassword">
                        <span asp-validation-for="CurrentUser.OldPassword" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentUser.Password"></label>
                        <input type="password" asp-for="CurrentUser.Password" autocomplete="off" class="form-control" data-bind="value: ch().Password">
                        <span asp-validation-for="CurrentUser.Password" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentUser.RePassword"></label>
                        <input type="password" asp-for="CurrentUser.RePassword" autocomplete="off" class="form-control" data-bind="value: ch().RePassword">
                        <span asp-validation-for="CurrentUser.RePassword" class="danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-success btn-sm">تغییر رمز</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
