@using PanelViewModels.BaseViewModels
@using System.Linq;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "پنل کاربری | مدرسه آنلاین اپیزرو ";
    var citiesReport = (List<IntegerKeyValueViewModel>)ViewBag.CitiesReport;
    var fieldsReport = (List<IntegerKeyValueViewModel>)ViewBag.FieldsReport;
    var gendersReport = (List<IntegerKeyValueViewModel>)ViewBag.GendersReport;
    var levelsReport = (List<IntegerKeyValueViewModel>)ViewBag.LevelsReport;
    //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    var dataGender = string.Join(',', gendersReport.Select(c => c.Value).ToList());
    var citiesValue = string.Join(',', citiesReport.Select(c => c.Value).ToList());
    var levelsValue = string.Join(',', levelsReport.Select(c => c.Value).ToList());

}
<script src="~/assets/chartjs/chart.js"></script>

<style type="text/css">
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard .box .content-box {
        margin-bottom: 23px;
    }

    .dashboard img {
        width: 100px;
    }

    .dashboard p {
        margin-top: 20px;
    }

    .dashboard .legend {
        padding: 40px 20px 20px 20px;
    }
</style>

<section class="dashboard">
    <div class="container">
        <div class="legend">
            <div class="title-o">
                <i class="fa fa-credit-card"></i>
                <span>داشبورد</span>
            </div> 
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                    <div class="box" style="height: unset;text-align:center">
                        <div class="title-box box-orange">
                            <span> آمار جنسیت </span>
                        </div>
                        <div class="content-box flex">
                            <div style="text-align:center;width:200px !important;height:200px !important;">
                                <canvas id="myChart-gender"></canvas>
                                <script>
                                            var ctx = document.getElementById('myChart-gender').getContext('2d');
                                            var myChart = new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['زن %', 'مرد % ' ],
                                                    datasets: [{
                                                        data: [
                                                            @dataGender
                                                        ],
                                                        backgroundColor: ['blue', 'Red', 'Green'],
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
                        <div class="box" style="height: unset;text-align:center">
                            <div class="title-box box-orange">
                                <span> آمار مقطع تحصیلی </span>
                            </div>
                            <div class="content-box flex">
                                <div style="text-align:center;width:100% !important;height:100% !important;">
                                    <canvas id="myChart-levels"></canvas>
                                    <script>
                                    var ctx = document.getElementById('myChart-levels');
                                            var myChart = new Chart(ctx, {
                                                type: 'bar',
                                                data: {
                                                    labels: [
                                                      @foreach(var level in levelsReport)
                                         {
                                         <text>'@Html.Raw(level.Key)',</text>
                                        }
                                                    ],
                                                    datasets: [{
                                                        data: [
                                                            @levelsValue
                                                        ],
                                                        backgroundColor: [
                                                            'red'
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
                    <div class="box" style="height: unset;text-align:center">
                        <div class="title-box box-orange">
                            <span> آمار شهرها </span>
                        </div>
                        <div class="content-box flex">
                            <div style="text-align:center;width:100% !important;height:100% !important;">
                                <canvas id="myChart-cities"></canvas>
                                <script>
                                    var ctx = document.getElementById('myChart-cities');
                                            var myChart = new Chart(ctx, {
                                                type: 'bar',
                                                data: {
                                                    labels: [
                                                      @foreach(var city in citiesReport)
                                         {
                                         <text>'@Html.Raw(city.Key)',</text>
                                        }
                                                    ],
                                                    datasets: [{
                                                        data: [
                                                            @citiesValue
                                                        ],
                                                        backgroundColor: [
                                                            'red'
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>