@model PanelViewModels.EditPrefix<PanelViewModels.TrainingManagementViewModels.AbsentationsViewModel>
<div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="EditForm" role="form">
                <div class="modal-header edit-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>نام جلسه</label>
                                <input asp-for="Edit.CourseMeetingName" readonly="readonly" class="form-control" data-bind="value: e().CourseMeetingName">
                                <span asp-validation-for="Edit.CourseMeetingName" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Edit.Date"></label>
                                <input readonly="readonly" asp-for="Edit.Date" class="form-control" data-bind="value: e().Date">
                                <span asp-validation-for="Edit.Date" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.CountStudent"></label>
                                <input type="text" readonly="readonly" asp-for="Edit.CountStudent" class="form-control" data-bind="value: e().CountStudent">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.IsPresentCount"></label>
                                <input type="text" readonly="readonly" asp-for="Edit.IsPresentCount" class="form-control" data-bind="value: e().IsPresentCount">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>انتخاب همه</label>
                        <input type="checkbox" class="checkbox-all" />

                    </div>
                    <table id="edit_absentations_table" class="table table-striped tbl-checkBox">
                        <thead>
                            <tr>
                                <th scope="col">ردیف</th>
                                <th scope="col">نام دانش آموز</th>
                                <th scope="col">وضعیت حضور</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: e().StudentsAbsentationState">
                            <tr>
                                <th scope="row" data-bind="text: $index() + 1"></th>
                                <td data-bind="text: StudentFullName"> </td>
                                <td>
                                    <input class="itemcheckbox"  type="checkbox" data-bind="checked:  IsPresent , attr: {'data-studentUserId' : StudentUserId}" />
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button   type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
