<div class="icon-loader">
    <div style="text-align:center;margin-top:200px;">
        <img src="~/assets/img/icon-loader.svg" />
        <div style="color:white;">در حال اجرای درخواست ...</div>
    </div>
</div>