<footer class="footer-main col-12 p-0">

    <section class="footer-info col-12">

        <div class="container">

            <div class="row">

                <div class="info-site col-md-12 col-lg-5 col-xs-12 pull-right">

                    <div class="logo-epizero">
                       
                    </div>
                    <h1 class="title-site mt-3">مدرسه آنلاین اپیزرو</h1>
                    <h2 class="desc-site">

                        اپـیــزرو یک سامانه جامع برای افزایش سطح یادگیری و تعامل بیشتر اساتید با دانش آموزان است. در
                        اپـیـزرو مشکلات کلاس های حضوری از جمله هزینه بالای ثبت نام، مشکلات رفت و آمد، عدم برگزاری
                        کلاس های رفع اشکال، عدم ارزیابی منظم و هدفمند، کیفیت پایین کلاسها حتی دربرخی دوره های
                        آنلاین، بررسی شده و یک سیستم آموزشی نوین بازطراحی شده است تا دانش اموزان بتوانند بصورتی
                        کارامد، در کلاسهای آنلاین شرکت کنند.

                    </h2>


                </div>

                <div class="list-footer col-md-12 col-lg-7 col-xs-12  d-flex flex-wrap flex-lg-nowrap mt-3 mt-lg-3">
                    <div class="row">


                        <div class="item-list col-12 col-md-5 col-lg-5 col-xs-12 pl-0 pull-right">

                            <div class="title-list-group">ارتباط با ما</div>

                            <ul class="list-menu">

                                <li>

                                    <a href="#" class="link-mn">

                                        <i class="fa fa-phone"></i>
                                        دفتر تبریز: 04135558437

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        <i class="fa fa-phone"></i>
                                        دفتر تهران: 02128425811

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        <i class="fa fa-envelope"></i>
                                        ایمیل: info@epizero.com

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <div class="item-list col-12 col-md-5 col-lg-5 col-xs-12 pr-5 pull-right">

                            <div class="title-list-group">موارد بیشتر</div>

                            <ul class="list-menu">

                                <li>

                                    <a href="#" class="link-mn">

                                        درباره ما

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        تماس با ما

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        قوانین و مقررات

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        درباره مدیر عامل

                                    </a>

                                </li>

                                <li>

                                    <a href="#" class="link-mn">

                                        درباره هیئت مدیره

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <div class="item-list col-12 col-md-2 col-lg-2 col-xs-12  px-0">

                            <div class="title-list-group">مجوزها</div>

                            <div class="logos-cr d-flex align-items-center">

                                @*<a href="#" class="box-lg d-flex align-items-center justify-content-center">
                                    <img src="/assets/img/enamad.png" alt="" class="lg-cr">
                                </a>*@

                                <a href="#" class="box-lg d-flex align-items-center justify-content-center">
                                    <img style="width:100px" src="/assets/img/Payping.png" alt="" class="lg-cr">
                                </a>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="footer-copyright col-12">

        <div class="container">

            <div class="row justify-content-center justify-content-md-between justify-content-lg-between no-gutters">

                @*<p class="cp-text">
                    © کلیه حقوق متعلق به <strong>مدرسه آنلاین اپیزرو</strong> است.
                </p>*@

                @*<ul class="list-socials">

                    <li class="item-sc">

                        <a href="#" class="link-sc">
                            <i class="icon-facebook-logo"></i>
                        </a>

                    </li>

                    <li class="item-sc">

                        <a href="#" class="link-sc">
                            <i class="icon-instagram"></i>
                        </a>

                    </li>

                    <li class="item-sc">

                        <a href="#" class="link-sc">
                            <i class="icon-telegram"></i>
                        </a>

                    </li>

                    <li class="item-sc">

                        <a href="#" class="link-sc">
                            <i class="icon-twitter"></i>
                        </a>

                    </li>

                    <li class="item-sc">

                        <a href="#" class="link-sc">
                            <i class="icon-whatsapp"></i>
                        </a>

                    </li>

                </ul>*@

            </div>

        </div>

    </section>

</footer>