<footer class="footer-area">
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>ارتباط باما</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">
                                آدرس:  شهرک فناوری خودرو طبقه اول واحد 205
                            </a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="#">041-34469480</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="#">09148956494</a>
                        </li>

                        <li>
                            <i class='bx bxl-telegram'></i>
                            <a href="https://t.me/pishrozaman" target="_blank">کانال تلگرام</a>
                        </li>
                        <li>
                            <i class='bx bxl-telegram'></i>
                            <a href="#"> شماره تماس تلگرام 09011883153</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="#">info@pishrozaman.com</a>
                        </li>
                    </ul>

                    <!---->@*<ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                    </ul>*@<!---->
                <!--</div>
            </div>-->

            <!---->@*<div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Support</h3>

                    <ul class="support-link">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Condition</a></li>
                        <li><a href="#">Policy</a></li>
                    </ul>
                </div>
            </div>*@ 

            <!--<div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>لینک های مفید</h3>

                    <ul class="useful-link" style="list-style-type:none;">
                        <li><a href="/Identities/ManagerInformationReviews">ارزیابی شایستگی مدیران</a></li>
                        <li><a href="/Identities/TeacherRegister">دعوت به همکاری از اساتید</a></li>
                        <li><a href="/Courses/TraningCourseRequests">درخواست دوره آموزشی</a></li>
                        <li><a href="/Contents/SiteUsageGuides">راهنمای سایت </a></li>
                        <li><a href="/Contents/DigitalLibraries?SearchValue=&Page=1">کتابخانه دیجیتال</a></li>
                        <li><a href="/Contents/Dictionaries?SearchValue=&Page=1">واژه نامه </a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>خبرنامه</h3>

                    <div class="newsletter-box">
                        <p>جهت دریافت آخرین اخبار فرم زیر را تکمیل نمایید</p>

                        <form class="newsletter-form" data-toggle="validator">
                            <label>تلفن همراه:</label>
                            <input type="email" class="input-newsletter" placeholder="" name="EMAIL" required="" autocomplete="off">
                            <button type="submit">به من خبر بده</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a href="/" class="d-inline-block"><img class="width-120" src="/assets/img/logo.png" alt="image"></a>
            </div>
            <p>کلیه حقوق مادی و معنوی این سایت متعلق به اپیزرو می باشد</p>
            <p> طراحی توسعه توسط شرکت <a href="http://punas.ir/" target="_blank">punas.ir</a></p>
        </div>
    </div>
</footer>