@model  PanelViewModels.EditPrefix<PanelViewModels.TrainingManagementViewModels.ProductsViewModel>

    <div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="EditForm" role="form">
                    <div class="modal-header edit-modal">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Edit.ProductTypeId"></label>
                                    <select asp-for="Edit.ProductTypeId" class="form-control" data-bind="value: e().ProductTypeId">
                                        <option value="">لطفا انتخاب کنید ...</option>
                                        @foreach (var item in ViewBag.ProductTypes)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Edit.ProductTypeId" class="danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Edit.Name"></label>
                                    <input asp-for="Edit.Name" class="form-control" data-bind="value: e().Name">
                                    <span asp-validation-for="Edit.Name" class="danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Edit.Price"></label>
                                    <input type="text" asp-for="Edit.Price" class="form-control" data-bind="value: e().Price">
                                    <span asp-validation-for="Edit.Price" class="danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Edit.DiscountPrice"></label>
                                    <input type="text" asp-for="Edit.DiscountPrice" class="form-control" data-bind="value: e().DiscountPrice">
                                    <span asp-validation-for="Edit.DiscountPrice" class="danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Edit.IsActive"></label>
                                    <select asp-for="Edit.IsActive" class="form-control" data-bind="value: e().IsActive">
                                        <option value="1">فعال</option>
                                        <option value="0">غیر فعال</option>
                                    </select>
                                    <span asp-validation-for="Edit.IsActive" class="danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label style="margin-top:15px;margin-bottom:20px;text-align:center;display:block" asp-for="Edit.PicPath"></label>
                                <div class="form-group">
                                    @await Html.PartialAsync("~/Views/Component/ImageUploader.cshtml",
                                    new PanelPresentationLayer.ComponentModel.ImageUploader()
                                    {
                                    ButtonFarsiName = "آپلود عکس",
                                    DefualuNullImagePath = "/images/DefaultFlag.png",
                                    Name = "EditProductPicPath",
                                    KnockoutExpressionString = "MainViewModel.e().PicPath",
                                    MaxImageHeight = 1000,
                                    MaxImageWidth = 1000,
                                    MinImageHeight = 1,
                                    MinImageWidth = 1,
                                    MaxImageSize = 500,
                                    HasDeleteBtn = true,
                                    Description = "فرمت‌های قابل قبول : JPG، JPEG و GIF \r\n حداقل اندازه مجاز تصویر : 1 در 1 پیکسل \r\n حداکثر اندازه مجاز تصویر : 1000 در 1000 پیکسل \r\n حداکثر حجم مجاز تصویر : 50 کیلوبایت"
                                    })
                                </div>
                                <span asp-validation-for="Edit.PicPath" class="danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label style="margin-top:15px;margin-bottom:20px;text-align:center;display:block" asp-for="Edit.FilePath"></label>
                                <div class="form-group">
                                    @await Html.PartialAsync("~/Views/Component/FileUploader.cshtml",
                                    new PanelPresentationLayer.ComponentModel.FileUploader()
                                    {
                                    ButtonFarsiName = "آپلود فایل",
                                    DefualtNullFileImagePath = "/assets/img/DefaultUploadFile.png",
                                    DefualtSelectedFileImagePath = "/assets/img/Ok.png",
                                    Name = "ProductFilePath",
                                    KnockoutExpressionString = "MainViewModel.e().FilePath",
                                    MaxFileSize = 10240,
                                    HasDeleteBtn = false,
                                    Description = "فرمت‌های قابل قبول : JPG، JPEG و Pdf \r\n   حداکثر حجم مجاز فایل : 10 مگابایت"
                                    })
                                </div>
                                <span asp-validation-for="Edit.FilePath" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
