@model PanelViewModels.EditPrefix<PanelViewModels.TrainingManagementViewModels.CourseStudentNewCommentsViewModel>

<div id="EditBox" class="modal fade modal-darkorange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="EditForm" role="form">
                <div class="modal-header edit-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  <strong>ويرايش</strong>   </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Edit.StudentUserFullName"></label>
                        <input readonly asp-for="Edit.StudentUserFullName" class="form-control" data-bind="value: e().StudentUserFullName">
                        <span asp-validation-for="Edit.StudentUserFullName" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edit.CourseName"></label>
                        <input readonly asp-for="Edit.CourseName" class="form-control" data-bind="value: e().CourseName">
                        <span asp-validation-for="Edit.CourseName" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edit.Rate"></label>
                        <input readonly asp-for="Edit.Rate" class="form-control" data-bind="value: e().Rate">
                        <span asp-validation-for="Edit.Rate" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edit.RegDateTime"></label>
                        <input readonly asp-for="Edit.RegDateTime" class="form-control" data-bind="value: e().RegDateTime">
                        <span asp-validation-for="Edit.RegDateTime" class="danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edit.Comment"></label>
                        <textarea readonly rows="3" asp-for="Edit.Comment" class="form-control" data-bind="value: e().Comment"></textarea>
                        <span asp-validation-for="Edit.Comment" class="danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Edit.IsActive"></label>
                        <select asp-for="Edit.IsActive" class="form-control" data-bind="value: e().IsActive">
                            <option value="1">فعال</option>
                            <option value="0">غير فعال</option>
                        </select>
                        <span asp-validation-for="Edit.IsActive" class="danger"></span>
                    </div>
                    
                  
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
