@{
    ViewData["Title"] = "قوانین و مقررات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
 <style type="text/css">
    h1 {
        display: inline-block;
    }

    .h1-title {
        margin: 0px;
        font-size:14px;
    }

    .split-liner {
        line-height: 29px;

    }
 </style>
<section>
    <div class="container-fluid SearchPAll rule-title m-t-35">
        <div class="split-c">
            <hr class="hr">
            <h1 class="pad-line-s split-liner h1-title">
               قوانین و مقررات
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="aboutus rules-content">

            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-12 description m-b-50 m-t-50">
                    <ul>
                        <li>
                             توجه داشته باشید در ثبت نام کلاس های آنلاین امکان عودت هزینه پس از شروع ترم میسر نمی  باشد.
                        </li>
                        <li>
                             دانش آموز متعهد می گردد قبل از شروع کلاس،از دسترسی به اینترنت پرسرعت (حداقل سرعت 512 کیلوبایت بر ثانیه) اطمینان حاصل نماید.
                        </li>
                        <li>
                          فیلم افلاین جلسه برگزار شده تنها به مدت 5 روز پس از تاریخ برگزاری در دسترس دانش آموزان خواهد بود. (مگر در مواردی که در اطلاعات دوره این زمان متفاوت باشد)
                        </li>
                        <li>
                            کلیه حقوق مادی و معنوی این اثر متعلق به مدرسه آنلاین اپیزرو می باشد قوانین تکثیر و بازتولید به هر نحو غیرمجاز می باشد.
                        </li>
                        <li>
                            این محصول صرفاً برای استفاده سفارش دهنده اصلی آن می باشد از این رو استفاده برای افراد دیگر شرعا غیر مجاز و ناقض حقوق مولفین می باشد.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>