@{
    var Courses = (CoursesViewModel)ViewBag.Courses; 
}
@*<div id="menu1" class="tab-pane">
        <div class="col-md-12" style="min-height:300px;">
            <div class="col-md-7 question">

                <div class="col-md-3 title-q">
                    <span>
                        سوال
                    </span>
                </div>

                <div class="col-md-12 text-q">
                    لطفا جزوه جدید رو هم در سایت قرار بدین
                </div>

            </div>
            <div class="col-md-7 answer">

                <div class="title-a">
                    <span>
                        پشتیبانی اپیزرو
                    </span>
                </div>

                <div class="col-md-12 text-a">
                    لطفا جزوه جدید رو هم در سایت قرار بدین
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>*@