@model IEnumerable<PanelViewModels.OnlineExamsViewModels.DescriptiveQuestionsViewModel>
@{
    ViewData["Title"] = "سوالات تشریحی";
    ViewData["PageFarsiName"] = "سوالات تشریحی";
    string Area = "OnlineExams";
    string Controller = "DescriptiveQuestions";
} 
    <style type="text/css">
        #modelList > tbody > tr > td:first-child:not(.dataTables_empty) {
            display: none;
        }

        #modelList > thead > tr > th:first-child {
            display: none;
        }
        td img {
            z-index: 1 !important;
        }
    </style>
<script src="~/js/DataBindingServerSide.min.js"></script>
<script id="operands" type="text/html">
    <a style="width:50px" class="btn btn-info btn-xs shiny editBtn">ویرایش</a>
    <a style="width:50px" class="btn btn-warning btn-xs shiny edit"> مشاهده</a>
    <a style="width:50px" class="btn btn-danger btn-xs shiny deletebtn"> حذف</a>
</script>
<script type="text/javascript">
    isDefaultCreateBtn = false;
    DataBind('/@Area/@Controller/Add/',
        '/@Area/@Controller/Read/',
        '/@Area/@Controller/Find/',
        '/@Area/@Controller/Update/',
        '/@Area/@Controller/Delete/', '', true);
    $(function () {
        GenerateReturnBtn();
        $('#btnPrint, #btnExcel,#delete').remove();
        //*************************************************************
        $('body').on('click', '.deletebtn', function () {
            var elememt = $(this);
            bootbox.confirm({
                message: "آیا برای حذف موارد انتخاب شده مطمئن می باشید؟",
                buttons: {
                    confirm: {
                        label: 'تایید',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'انصراف',
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if (result) {

                        var id = table.row(elememt.parents('tr')).data().Id;
                        var data = { Id: id }
                        DataTransfer('/OnlineExams/DescriptiveQuestions/Delete',
                            ko.toJSON(data),
                            '',
                            function (e) {
                                var f = e;
                                toastr.remove();
                                if (!f.IsSuccess) {
                                    toastr.error(f.Message);
                                } else {
                                    toastr.success(f.Message);
                                    if (OnDeletedCallBack != null) {
                                        OnDeletedCallBack();
                                    }
                                    $('#reloadTableBtn').click()
                                }
                            },
                            function (e) {
                                toastr.remove();
                                toastr.error("خطا در ارتباط با سرور");
                            }
                        );
                    }
                }
            });
        });
         //====================================================================================
        $('body').on('click', '#create', function () {
            window.location.href = '/OnlineExams/DescriptiveQuestions/QuestionDesignPage/';
        });
         //====================================================================================
        $('body').on('click', '.editBtn', function () {
            var id = table.row($(this).parents('tr')).data().Id
            window.location.href = '/OnlineExams/DescriptiveQuestions/QuestionDesignPage/' + id ;
        });
         //====================================================================================
        $('#lessons').change(function () {
            $('#applyFilter').click();
        });

          @if(ViewBag.FilterdLessonId == 0)
        {
          <text>
            $('#lessons').change();
          </text>
        }else {
           <text>
            $('#lessons').val('@ViewBag.FilterdLessonId').change();
          </text>
        }
        // //====================================================================================
        TableOnDraw = function () {
            //var  buttonHtml =  '<div class="btn-ck">' +
            //    '<a class="btn btn-info btn-sm shiny editBtn"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  </a>' +
            //    ' <a class="btn btn-warning btn-sm shiny edit"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  </a>' +
            //    ' <a class="btn btn-danger btn-sm shiny deletebtn"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  </a>' +
            //    '</div>';

            //for (i = 0; i < $('#modelList > tbody > tr').length; i++) {
            //    $('#modelList > tbody > tr').eq(i).children('td').addClass('td-pos').eq(1).append(buttonHtml);
            //}
        }
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">نمايش اطلاعات</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body bordered-top bordered-gray" style="height: auto;">
                <div id="mainArea">
                    @await Html.PartialAsync("~/Views/Shared/_ActionButtonsPartial.cshtml")
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group reletive">
                                    <label for="ProductCategory">نام درس</label>
                                    <select id="lessons" class="form-control" data-bind="value: fe().LessonId">
                                        @*@foreach (var item in ViewBag.Lessons)
                                        {
                                            <option value="@item.Id">@(item.Name)</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                            <input id="applyFilter" type="button" style="display:none;" />
                        </div>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/_GridTools.cshtml")
                    <div class="table-responsive">
                        @await Html.PartialAsync("~/Views/Shared/_TableSpinner.cshtml")
                        <table id="modelList" class="table table-striped table-bordered table-hover dataTable no-footer" style="width:100%">
                            <thead class="bordered-darkorange" data-actionColumn="custom">
                                <tr>
                                    <th data-viewModel="Id" style="width: 30px;"></th>
                                    <th data-viewModel="QuestionContext_Html" data-orderable="false">متن سوال</th>
                                    <th style="width: 190px;">عملیات</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @{
                        await Html.RenderPartialAsync("Edit.cshtml");
                    }
                </div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
</div>



